h4 {
  text-align: center;
  margin-top: 20vh;
}

#selector1 {
  margin-left: calc(50% - 72px);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 5px;
  background-color: rgb(22, 139, 211);
  color: white;
  text-align: center;
  width: 144px;
  height: 24px;
  border: none;
}

#selector1 option {
  text-align: center;
  padding: 0;
}

#selector1:hover {
  border-radius: 0px;
  background-color: rgb(11, 128, 200)
}

article {
  margin-left: 20vw;
  margin-top: 10vh;
  /* width: 500px; */
}

section img {
  /* width: 500px; */
  margin-top: 10vh;
}

footer {
  margin-top: 25vh;
}

section {
  display: flex;
  flex-direction: column;
}

#requirements {
  margin: auto;
  margin-top: 75px;
  width: 80%;
  max-width: 1200px;
  border-left: 6px solid rgb(22, 139, 211);
  background-color: lightgrey;
}

#requirements h3 {
  font-weight: bold;
  font-size: 20px;
}

#requirements p {
  margin-bottom: 30px;
}

#requirements li {
  list-style: disc;
  margin-left: 25px;
}

#chooserole {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}

#chooserole li {
  display: inline;
  justify-content: center;
  align-items: center;
  margin-right: 70px;
  font-weight: 600;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-radius: 15px;
  color: white;
}

#chooserole li:hover {
  border-radius: 10px;
  cursor: pointer;
}

#chooserole li:nth-child(1) {
  background-color: cyan;
}

#chooserole li:nth-child(2) {
  background-color: blue;
}

#chooserole li:nth-child(3) {
  background-color: orange;
}

#chooserole li:nth-child(4) {
  background-color: red;
}

#chooserole h4 {
  margin: 0;
  margin-bottom: 50px;
  font-size: 20px;
}
