#index-introduction {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin-left: 10%;
}

.warning {
  flex-basis: 25%;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(255, 0, 0);
  width: 400px;
  border-radius: 20px;
  height: 65px;
}

.warning img {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  margin-top: -2px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.warning p {
  font-size: 1.2em;
  color: red;
  text-align: center;
}

#definition {
  flex-basis: 25%;
  line-height: 20px;
}

#definition h4 {
  background-color: rgb(22, 139, 211);
  border-radius: 15px;
  font-size: 20px;
  color: white;
  line-height: 16px;
}

/* TEMPORARY Welcome section for update(hub) */

#welcomediv {
  text-align: center;
  margin-top: 8%;
  color: rgb(22, 139, 211);
  padding-bottom: 10px;
}

#welcomeslider {
  text-align: center;
}

#welcomeslider p {
  margin: 20px;
}

#welcomeslider img {
  width: 70%;
  /* border-radius: 20px;
  border-width: 1.5px;
  border-style: solid;
  border-color: rgb(22, 139, 211); */
}

/* Footer alignment */

footer {
  margin-top: 55vh;
}

/* Responsive */

@media only screen and (max-width: 600px) {
  #index-introduction {
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  .warning {
    width: 320px;
    margin-left: calc(50vw - 205px);
    margin-top: 20%;
    margin-bottom: 20%;
  }
}

@media only screen and (max-width: 1000px) {
  #welcomeslider  img {
    width: 100%;
  }
}
