#index-main {
  display: flex;
  flex-direction: column;
}

#index-introduction {
  margin-top: 7vh;
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-left: 10%;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 5px 6px 10px 4px #777;
  background-image: url("../backgroundbanner.png");
  background-position: center;
  color: white;
}

#index-introduction-placeholder {
  flex: 1;
}

#definition {
  flex: 1;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#definition h4 {
  background-color: rgb(22, 139, 211);
  border-radius: 15px;
  font-size: 20px;
  color: white;
  line-height: 16px;
  text-align: center;
  margin-bottom: 3%;
  max-width: 320px;
  width: 80%;
}

#definition p {
  width: 80%;
}

@media only screen and (min-width: 1400px) {
  #definition p {
    width: 60%;
  }
}

/* TEMPORARY Welcome section for update(hub) */

#index-update {
  width: 80%;
  margin-left: 10%;
}

#welcomediv {
  text-align: center;
  margin-top: 8%;
  color: rgb(22, 139, 211);
  padding-bottom: 10px;
}

#welcomeslider {
  text-align: center;
}

#welcomeslider p {
  margin: 20px;
}

#welcomeslider img {
  width: 100%;
  border-radius: 20px;
  box-shadow: 5px 6px 10px 4px #777;
  min-height: 256px;
  /* border-radius: 20px;
  border-width: 1.5px;
  border-style: solid;
  border-color: rgb(22, 139, 211); */
}

/* Footer alignment */

footer {
  margin-top: 55vh;
}

/* Responsive */

@media only screen and (max-width: 1000px) {
  #welcomeslider img {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  #index-introduction {
    flex-direction: column;
  }
}
