body {
  margin: 0;
  font-family: "Modern Antiqua", sans-serif;
  background-color: rgb(240, 240, 240);
}

p {
  margin: 0;
}

#top {
  min-height: 254px;
  background-image: url("../backgroundbanner.png");
  background-position: center;
}

#trinitytop {
  padding-top: 55px;
  height: 194px;
  width: 400px;
  margin-left: calc(50% - 200px);
  background-image: url("../scam.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform:scale(1);
  transition: transform 0.6s linear;
}

#trinitytop.smaller {
  transform:translate(0, -15%) scale(0.3);
}

#flexboxtop {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#tip {
  padding-top: 20px;
  padding-bottom: 20px;
  flex: none;
  text-align: center;
  width: 280px;
  color: white;
  background-color: rgb(22, 139, 211);
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  -webkit-transition: border-radius 0.1s linear;
  -moz-transition: border-radius 0.1s linear;
  -o-transition: border-radius 0.1s linear;
  transition: border-radius 0.1s linear;
}

#tip:hover {
  background-color: rgb(11, 128, 200);
  border-radius: 15px;
}

#tip img {
  vertical-align: middle;
}

#placeholder1 {
  flex: initial;
  background-color: transparent;
}

#tdonate {
  padding-top: 20px;
  padding-bottom: 20px;
  flex: none;
  text-align: center;
  width: 280px;
  color: white;
  background-color: rgb(22, 139, 211);
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  -webkit-transition: border-radius 0.1s linear;
  -moz-transition: border-radius 0.1s linear;
  -o-transition: border-radius 0.1s linear;
  transition: border-radius 0.1s linear;
}

#tdonate:hover {
  background-color: rgb(11, 128, 200);
  border-radius: 15px;
}

#tdonate img {
  vertical-align: middle;
}

#tcurrent {
  /* text-decoration: underline; */
  /* color: rgba(255, 255, 255, 0.5); */
  background-color: white;
  color: rgba(22, 139, 211, 1);
}

nav {
  background-color: rgba(22, 139, 211, 1);
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

#navul.appear {
  padding-top: 10px;
  padding-bottom: 10px;
}

#tcurrent.appear {
  padding-bottom: 25.5px;
}

nav ul li {
  display: inline;
  margin-right: 40px;
}

#trinitynav.appear {
  display: inline
}

#trinitynav img {
  height: 47.5px;
  width: 100px;
  vertical-align: middle;
}

#trinitynav {
  display: none;
}

#navdonate {
  display: none;
}

#navul li a {
  text-decoration: none;
  color: white;
  padding-bottom: 20px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

#navul #tcurrent {
  color: rgb(22, 139, 211);
}

#navul #tcurrent:hover {
  color: rgb(11, 128, 200);
}

#navul li a:hover {
  /* text-decoration: underline; */
  /* color: rgb(22, 139, 211); */
  color: rgba(255, 255, 255, 0.5);
  text-decoration-color: white;
}

#afternav {
  background-color: white;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0.5px;
  border-style: solid;
  border-color: lightgray;
  padding: 10px;
  padding-left: 40px;
}

#afternav a {
  /* color: rgb(22, 139, 211); */
  color: rgb(170, 170, 200);
  font-size: 80%;
  text-decoration: none;
  -webkit-transition: text-decoration 1.4s linear;
  -moz-transition: text-decoration 1.4s linear;
  -o-transition: text-decoration 1.4s linear;
  transition: text-decoration 1.4s linear;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  -o-transition: color 0.1s linear;
  transition: color 0.1s linear;
}

#afternav a:hover {
  color: black;
  text-decoration: underline;
}

/* Mobile nav disabled for normal laptops */
#mobilenavx {
  display: none;
}

#icon-x {
  width: 38px;
  height: 34px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  text-align: center;
}

#icon-x span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fff;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  transition: background-color 0.2s linear;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#icon-x:hover span {
  background-color: #7cf;
}

#icon-x span:nth-child(1) {
  top: 0px;
}

#icon-x span:nth-child(2) {
  top: 15px;
}

#icon-x span:nth-child(3) {
  top: 15px;
}

#icon-x span:nth-child(4) {
  top: 30px;
}

#icon-x.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#icon-x.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#icon-x.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#icon-x.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#mobileafternav {
  display: none;
  /* position: fixed;
  top: 57.7px; */
}

#mobileafternav li {
  display: grid;
  margin: 0;
}

#mobileafternav li a {
  text-decoration: none;
  color: #fff;
  padding-top: 9px;
  padding-bottom: 9px;
}

#mobileafternav #tcurrent {
  color: rgb(22, 139, 211);
}

.topimage {

}

footer {
  color: white;
}

.footer2 img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

#footerp {
  margin-top: 5px;
  font-size: 80%;
}

.footer1 {
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: rgb(22, 139, 211);
}

.footer2 {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: rgb(0, 0, 2);
  text-align: center;
}

.footer1 ul {
  list-style: none;
  text-align: right;
  margin-right: 20vw;
}

.footer1 ul li {
  display: inline;
  font-size: 80%;
  padding-left: 5px;
}

.footer1 ul li a {
  text-decoration: none;
  color: white;
}

.footer1 ul li a:hover {
  color: rgba(255, 255, 255, 0.7);
}

/* TEMPORARY */
.discordiframe {
   width: 500px;
   height: 350px;
}

/* Responsive */

@media only screen and (max-width: 600px) {
  #trinitytop {
    height: 129.33px;
    width: 266.6px;
    padding-top: 65.67px;
    margin-left: calc(50% - 133.3px);
  }
}

@media only screen and (max-width: 600px) {
  #top {
    min-height: 190px;
    height: 190px;
  }
}

/* TEMPORARY */
@media only screen and (max-width: 600px) {
  .discordiframe {
    width: 300px;
    height: 450px;
  }
}

@media only screen and (min-width: 1000px) {
  #placeholder1 {
    /* min-width: 1000px; */
    min-width: 50vw;
  }
}

@media only screen and (max-width: 1000px) {
  #tip {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  #tdonate {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  #navdonate {
    display: inline;
  }
}

@media only screen and (max-width: 1000px) {
  #trinitynav {
    display: none !important;
  }
}

@media only screen and (max-width: 1000px) {
  #navul {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
}

@media only screen and (max-width: 1000px) {
  #afternav {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  #navul li:nth-child(2) {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  #navul li:nth-child(3) {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  #navul li:nth-child(5) {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  #navul li:nth-child(6) {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  #navul li:nth-child(4) {
    display: flex !important;
    align-self: center;
    justify-content: center;
    flex: 1;
    transform: scale(0.87);
  }
}

@media only screen and (max-width: 1000px) {
  #navul li:nth-child(1) {
    display: flex;
    align-self: center;
    justify-content: center;
    flex: 1;
  }
}

@media only screen and (max-width: 1000px) {
  #navul {
    display: flex;
    width: 100%;
    align-items: center;
    padding-left: 0;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
}

@media only screen and (max-width: 1000px) {
  #navul li:nth-child(7) {
    padding: 0;
    flex: 1;
  }
}

@media only screen and (max-width: 1000px) {
  #navul li:nth-child(7) a {
    padding: 0;
  }
}

@media only screen and (max-width: 1000px) {
  #navul li {
    margin: 0;
  }
}

@media only screen and (max-width: 1000px) {
  #top {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
  }
}

@media only screen and (max-width: 1400px) {
  .footer1 ul {
    text-align: center;
    padding: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 1400px) {
  #tip {
    width: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media only screen and (max-width: 1400px) {
  #tdonate {
    width: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
